/*
* Theme name: Dr. Loeb WP Theme
* Author: Denis Nagorny
* Description: WordPress Dr. Loeb Theme
* Version: 1.58
*/

@CHARSET "UTF-8";

/*@font-face { 
	font-family: "Caslon"; 
	src: url("font/caslon-openface.ttf"); 
}*/
/*@font-face { 
	font-family: "Caslon"; 
	src: url("font/caslon-openface.eot"); 
}
@font-face {
	font-family: "EdwardianScript";
	src: url("font/edwardian-script.eot"); 
}*/
@font-face {
	font-family: "EdwardianScript";
	src: url("font/edwardian-script.TTF"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "CaslonPro";
	src: url("font/Caslon-Pro-Regular.eot"); /* EOT file for IE */
}
@font-face {
	font-family: "CaslonPro";
	src: url("font/Caslon-Pro-Regular.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("font/HelveticaNeue/HelveticaNeue.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("font/HelveticaNeue/HelveticaNeue.eot"); /* EOT file for IE */
}

@font-face {
	font-family: "HelveticaNeueBold";
	src: url("font/HelveticaNeue/HelveticaNeueBold.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "HelveticaNeueBold";
	src: url("font/HelveticaNeue/HelveticaNeueBold.eot"); /* EOT file for IE */
}

@font-face {
	font-family: "HelveticaNeueMedium";
	src: url("font/HelveticaNeue/HelveticaNeueMedium.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "HelveticaNeueMedium";
	src: url("font/HelveticaNeue/HelveticaNeueMedium.eot"); /* EOT file for IE */
}

@font-face {
	font-family: "HelveticaNeueRoman";
	src: url("font/HelveticaNeue/helvetica-neue-roman.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "HelveticaNeueRoman";
	src: url("font/HelveticaNeue/helvetica-neue-roman.eot"); /* EOT file for IE */
}
html {
	overflow-y: scroll;
}
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background: #dbcbc1;
	
	/* IE10 Consumer Preview */ 
	/*background-image: -ms-linear-gradient(top, #DCCCC2 0%, #9B897E 100%);*/
	background-image: -ms-linear-gradient(top, #efe5dc 0%, #b9a698 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #efe5dc 0%, #b9a698 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #efe5dc 0%, #b9a698 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efe5dc), color-stop(1, #b9a698));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #efe5dc 0%, #b9a698 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #efe5dc 0%, #b9a698 100%);
}
.wrap {
	width: 984px;
	margin: 0 auto;

	z-index: 100;
	position: relative;
	top: -9px;
}
.ie7 .wrap {
	width: 978px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clearfloat {
	display: inline-block;
	width: 100%;
}
a img {
	border: 0 none transparent;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	margin: 0 23px 0 0;
	/*font-family: "HelveticaNeueRoman";*/
	color: #000;
}

.header {
	background: url("images/background-preheader.png") no-repeat;
	width: 1007px;
	margin: 0 auto;
	/*margin-top: 45px;*/
}

.header .text-block {
	height: 88px;
	text-align: center;
	padding-top: 45px;
	font-size: 46px;
	line-height: 25px;
}
.text-block div {
	float: right;
	width: 780px;
	font-size: 25px;
	color: #534e4d;
}

.text-block span {
	font-size: 20px;
}

.top-menu {
	list-style: none;
	padding: 0;
	text-align: center;
	background: url("images/background-top-menu.png") no-repeat;
	padding: 8px 0 14px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	padding-top: 0;
	display: inline-block;
	width: 100%;
}
.top-menu li {
	text-align: left;
	padding: 9px 0 9px 27px;
	display: inline;
	background: url("images/separator.png") no-repeat scroll 0 11px;
	position: relative;
	background-position-y: 11px !important;
	display: block;
	float: left;
}

@-moz-document url-prefix()
{
	.top-menu li { background: url("images/separator.png") no-repeat scroll 0 10 !important; }
}
.top-menu li ul {
	display: none;
	position: absolute;
}
.top-menu .sub-menu {
	white-space: nowrap;
	z-index: 500;
	opacity: 0.7;
	border: 2px solid #450101;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-bottom: 3px;
	
	left: 8px;
}

.top-menu .sub-menu li {
	padding: 3px 0 3px 17px;
	float: none;
}
.top-menu li ul li {
	background: none;
	display: block;
}
.top-menu .first {
	background: none;
}

.top-menu li:hover ul {
	display: block;
	
	background: #450101;
	padding-left: 0;
	margin-top: 6px;
}

.top-menu li a {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin-right: 15px;
}
.top-menu .current_page_item a,
.top-menu li a:hover {
	color: #B4A399;
}
.meta a { color: black; }

/***/
#slides {
	height: 326px;
	position: relative;
	top: -8px;
}
#slides .image-slide {
	position: absolute;
	z-index: 100;
}


.contact-page #main {
	margin-top: -8px;
	display: inline-block;
}


.page .left-sidebar {
	width: 226px;
}
.page .content a {
	color: #450101;
}
.home .left-sidebar,
.left-sidebar {
	width: 348px;
	float: left;
	padding: 7px 5px 5px;
}

.left-sidebar ul {
	padding-left: 25px;
	margin-top: 5px;
}
.left-sidebar li {
	padding-bottom: 1px;
}
.left-sidebar li a {
	color: #373432;
	/*font-family: "HelveticaNeueRoman";*/
}

.home #image-sidebar,
#image-sidebar {
	width: 349px;
	float: left;
	padding: 7px 2px 5px;
}
.home #image-sidebar {
	position: relative;
}

.home #image-sidebar .home-menu {
	list-style: none;
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	top: 142px;
	left: 0;
	padding-left: 12px;
}
.home #image-sidebar .home-menu li {
	margin-bottom: 150px;
}
.home #image-sidebar .home-menu a {
	color: #fff;
	/* min-width: 100px; */
	display: block;
	padding: 2px;
}
.home #image-sidebar .home-menu a:hover {
	color: #373432;
	background: #ccc;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px;
}
.home .left-sidebar {
	border-right: 2px solid #757373;
	width: 345px;
}

#image-sidebar .widget_sp_image {
	text-align: center;
}
#right-sidebar .widget,
#left-sidebar .widget {
	margin-bottom: 8px;
}
.home #right-sidebar,
#right-sidebar {
	width: 256px;
	float: left;
	padding: 7px 5px 5px;
}
#right-sidebar .textwidget a {
	color: #450101;
}

#right-sidebar .contact-input,
#right-sidebar .search-input {
	width: 220px;
	height: 24px;
	vertical-align: bottom;
	outline: none;
	background: url("images/background-left-input.png") no-repeat;
	padding: 0 8px 0;
	border: none;
	color: #bcbbbb;
}

.ie8 #right-sidebar .contact-input,
.ie9 #right-sidebar .contact-input,
.ie7 #right-sidebar .search-input,
.ie9 #right-sidebar .search-input,
.ie8 #right-sidebar .search-input {
	height: 21px;
	padding-top: 3px;
}
.ie7 #right-sidebar .search-input {
	height: 20px;
}

.ie7 #right-sidebar #search {
	padding-top: 7px;
}



.home #rss-list,
.home #search {
	width: 217px;
}


.home #right-sidebar {
	width: 256px;
	padding-left: 7px;
}

#right-sidebar .contact-input {
	width: 251px;
	background: url("images/background-for-inputs.png") no-repeat;
	margin-bottom: 5px;
}
#right-sidebar .contact-text {
	margin-bottom: 6px;
}
#right-sidebar .widget_search {
	margin-top: 5px;
}
#right-sidebar .search-image {
	width: 11px;
	height: 18px;
	background: url("images/background-right-input.png") no-repeat;
	border: none;
	padding: 3px 8px 3px 0;
}
.left-sidebar .widget-subpages ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}
.left-sidebar .widget-subpages .children {
	list-style: disc;
	padding-left: 25px;
}
.left-sidebar .widget-subpages ul a {
	display: block;
}


.left-menu ul {list-style: none; padding-left: 0;}


/*.left-menu .home-left-title,*/

.content-block .main-title,
#right-sidebar .widget .title,
#image-sidebar .widget .title,
.left-sidebar .widget .title {
	background: #450101;
	color: #ccc;
	/*font-family: "HelveticaNeueMedium";*/
	font-size: 13px;
	margin: 0 0 3px;
	padding: 6px 6px 5px;
	text-align: left;
	font-weight: bold;
}


.left-menu .sub-menu {
	list-style: disc;
	padding-left: 20px;
	margin-bottom: 20px;
	color: black;
}
.left-menu li {
	background: url('images/left-title-back.png') no-repeat;
	padding: 6px 0 0 6px;
}

.left-menu li .sub-menu {color: black;}
.left-menu li .sub-menu li { 
	padding: 0;
}



.left-menu li a {font-size: 13px; color: #ccc; font-weight: bold;}
.left-menu .sub-menu li {background: none;}
.left-menu .sub-menu li a {font-size: 13px; color: #373432; background: none;} 


.left-sidebar .widget-subpages ul a {font-size: 13px;}
.left-sidebar .widget-subpages ul a {font-weight: normal;}
.left-sidebar ul a,
.left-sidebar .widget-subpages .children a {
	background: none;
	display: inline;
	font-size: 13px;
	color: #373432;
	/*font-family: "HelveticaNeueRoman";*/
	padding-left: 0;
}


#menu-home-left-menu a {color: #ccc;}
#menu-home-left-menu li li a{color: #373432;}
#menu-home-left-menu .sub-menu {
	margin: 10px 0;
}
#menu-home-left-menu li li a:hover {color: #fff; }


.home .left-sidebar ul {margin-top: 0;}

.left-sidebar .widget-subpages ul {
	list-style: disc;
	padding-left: 25px;
}
#right-sidebar .widget .contact-text {
	width: 235px;
	height: 54px;
	max-width: 235px;
	max-height: 54px;
	padding: 8px;
	outline: none;
	color: #bcbbbb;
	border: none;
	background: url("images/inquiry-background.png") no-repeat;
}
#right-sidebar {font-size: 13px;}
.sidebar-blog a:hover,
#right-sidebar a:hover {color: #fff;}
#right-sidebar textarea {
	font-family: Arial, Helvetica, sans-serif;
}
#right-sidebar .widget ul {
	list-style: none;
	padding-left: 0;
	margin-left: 9px;
	margin-top: 4px;
}
#right-sidebar .widget li {
	margin-bottom: 6px;
}
#right-sidebar .widget ul a {
	color: #000;
}
.footer a:hover {
	color: #450101;
}
.page .left-sidebar li a:hover {
	color: #fff;
}

#right-sidebar .widget .rss-form {
	margin-top: 7px;
}
#right-sidebar .widget .text-share {
	margin: 12px 0;
}
#right-sidebar .text-logos {
	text-align: center;
}

/**Footer**/
.footer {
	border: 1px solid #000101;
	margin-top: 10px;
	padding-bottom: 11px;
	padding-top: 6px;
	background: #b4a399;
	width: 976px;
	font-size: 13px;
}

.home .footer {
	width: 980px;
}


#sidebar-in-footer .widget ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin-bottom: 4px;
	margin-top: 5px;
}
#sidebar-in-footer .widget li {
	display: inline;
	text-align: left;
	margin: 0 1px;
	color: #000;
	/*font-family: "HelveticaNeueRoman";*/
}
#sidebar-in-footer a {
	color: #000;
}
#sidebar-in-footer a:hover {color: #fff;}
#sidebar-in-footer .textwidget {
	text-align: center;
	/*font-family: "HelveticaNeueRoman";*/
	line-height: 15px;
}
#sidebar-in-footer .first .textwidget p {
	padding-bottom: 0;
	margin-bottom: 0;
}
.menu .separator {
	margin: 0 3px;
}

/**  Page **/
.page #left-sidebar {
	width: 226px;
}
.page #left-sidebar,
.page .single-main,
.page #right-sidebar {
	padding-top: 14px;
}
.home #right-sidebar {
	padding-top: 10px;
}
.page .header {
	position: relative;
	z-index: 1000;
}
.page #main {
	z-index: 200;
	position: relative;
	top: -8px;
	display: inline-block;
	border: 2px solid #393430;
	border-top: none;
	background: url("images/right-sidebar-background.png");
	background-position: right;
	background-repeat: repeat-y;
	background-color: #dccfc7;
}
.home .#main { top: -10px;}
.archive #main,
.blog #main,
.single #main {
	background: url("images/right-sidebar-background.png");
	background-position: right;
	background-repeat: repeat-y;
	background-position-x: 708px;
	background-color: #dccfc7;
}
.archive #main,
.blog #main {background-position-x: 705px;}
.home #main{
	margin-top: 0;
	background-position-x: 706px; 
	top: -8px;
}
.home #main {
	background-position-x: 711px;
}
.home .left-sidebar .title a {color: #ccc;}
.page .single-main {
	width: 463px;
	border-left: 2px solid #757373;
	padding: 7px 3px 5px;
}

.page-template-contact-page-php #main {
	background: none;
}
.page-template-contact-page-php .single-main {
	width: 732px;
	border-left: none;
}
.is_not_subpage.not_has_children .single-main {
	width: 700px;
	border-left: none;
}

.is_not_subpage.not_has_children .bread-crumbs {
	margin-left: 6px;
}

.page .single-main .post .title {
	border-bottom: 2px solid #838181;
	padding-bottom: 5px;
	color: #450101;
	font-size: 16px;
}

.wp-caption.alignleft img,
.wp-caption.alignleft img,
.tax-before-after-category #main img.alignleft,
.blog .main img.alignleft,
.single .main img.alignleft,
.page .single-main .post img.alignleft {
	margin: 0 10px 5px 0;
	border: 1px solid black;
}


.wp-caption.alignright img,
.wp-caption.alignright img,
.tax-before-after-category #main img.alignright,
.blog .main img.alignright,
.single .main img.alignright,
.page .single-main .post img.alignright {
	margin: 0 0 5px 10px;
	border: 1px solid black;
}
.wp-caption-text {
	text-align: center;
	font-size: 12px;
	margin: 2px 0 4px;
}
.page .single-main .post {
	padding: 1px 8px 8px;
	/*font-size: 13px;
	line-height: 20px;*/
	font-size: 10pt; line-height: 15pt;
}

.page .left-block {
	float: left;
}
.page .bread-crumbs {
	padding-top: 10px;
	max-width: 400px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.page-template-contact-page-php .bread-crumbs {
	border-left: none;
	padding-top: 11px;
	border-right: 2px solid #757373;
	background: #B4A399;
	width: 231px;
}
.page-template-contact-page-php .left-sidebar {
	padding-top: 0;
	border-right: 2px solid #757373;
}

.bread-crumbs {
	font-size: 13px;
}
.bread-crumbs a,
#right-sidebar .text a {
	color: #450101;
}

/** Single Post Page **/

.single .main {
	width: 684px;
	padding: 13px;
}
.search #main,
.archive #main,
.blog #main,
.single #main {
	
	display: inline-block;
	border: 2px solid #393430;
	border-top: none;
	
}
.search  .wrap,
.archive .wrap,
.blog  .wrap,
.single .wrap {
	z-index: 100;
	position: relative;
	top: -16px;
}
.search .header,
.archive .header,
.blog .header,
.single .header {
	position: relative;
	z-index: 10000;
}
/*
.search #right-sidebar,
.archive #right-sidebar,
.blog #right-sidebar,
.single #right-sidebar {
	background-image: url("images/background-right-sidebar.png");
	background-repeat: no-repeat;
	background-color: #B4A399;
}
*/
.page #main h2,
.single #main h2 {
	font-size: 16px;
	font-weight: normal;
	/*font-family: "HelveticaNeueMedium";*/
	color: #450101;
	margin-bottom: 15px;
}
.page #main h2 {
	margin-top: 0;
}
.single #main h2 {
	margin-bottom: 10px;
}
.page #main h3,
.single #main h3 {
	font-family: Arial;
	font-size: 13px;
	color: #450101;
	margin: 0;
}

/** Blog Page **/
	
.search .main,
.archive .main,
.blog .main {
	width: 675px;
	padding: 16px;
}
.nav a,
.search .content a,
.archive .content a,
.blog .content a { color: #450101; font-weight: bold;}
.search h2, .search h3, .search h3 a,
.archive h2, .archive h3, .archive h3 a,
.blog h2,
.blog h3,
.blog h3 a {
	color: #450101;
	font-size: 18px;
	font-weight: normal;
}
.sidebar-blog .widget .title { font-size: 18px; color: #450101;}
.nav {
	border-top: 2px solid #838181;
	padding-top: 23px;
}
.nav a:hover {color: #B4A399;}
.search h2,
.archive h2,
.blog h2 { 
	font-size: 24px; 
	margin-bottom: 5px;
}
.search h3,
.archive h3,
.blog h3 {
	border-top: 2px solid #838181;
	padding: 14px 0 3px;
	margin: 0;
}
.search .post,
.archive .post,
.blog .post {
	margin-bottom: 23px;
}
.search .post .content,
.archive .post .content,
.blog .post .content {
	margin-top: 15px;
}
.search .related-sites,
.archive .related-sites,
.blog .related-sites {
	list-style: none;
	text-align: left;
	padding: 0;
	margin-top: 5px;
}
.search .related-sites li,
.archive .related-sites li,
.blog .related-sites li {
	display: inline;
}
.search .related-sites a,
.archive .related-sites a,
.blog .related-sites a {
	color: #000;
	margin: 0 1px;
}
.search .related-sites a:hover,
.blog .related-sites a:hover {
	color: #450101;
}
.sidebar-blog {
	margin-top: 23px;
}
.blog .meta {
	font-size: 10px;
}
.page-template-contact-page-php .left-sidebar {
	background: #b4a399;
	position: relative;
	z-index: 10;
}
.page-template-contact-page-php .header {
	position: relative;
	z-index: 300;
}
.page-template-contact-page-php .captcha-126 {
	float: left;
}
.wpcf7-captcha-captcha-126 {
	float: left;
	margin-right: 5px;
}

.page-template-contact-page-php .single-main {
	width: 705px;
	padding: 0 22px 0 9px;
}
.page-template-contact-page-php #left-sidebar {
	width: 226px;
}

.page-template-contact-page-php .captcha,
.page-template-contact-page-php .contact-message,
.page-template-contact-page-php .contact-data {
	display: block;
	width: 554px;
	height: 18px;
	margin-bottom: 10px;
	padding-left: 6px;
	font-size: 13px;
	padding-bottom: 5px;
	color: #666;
}
.page-template-contact-page-php .captcha {
	width: 105px;
	background: url('images/captcha-input-background.png') no-repeat;
	border: none;
	outline: none;
}
.page .content a:hover,
.page-template-contact-page-php .left-sidebar a:hover {
	color: #fff;
}
.page-template-contact-page-php textarea {
	max-width: 539px;
	max-height: 120px;
	width: 539px;
	height: 120px;
	background-image: url('images/background-textarea.png');
	background-repeat: no-repeat;
	background-color: white;
	border: none;
	outline: none;
	padding: 10px;
	color: #666 !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.wpcf7-form textarea,
.wpcf7-form input {
	color: #BCBBBB;
	border: none;
	outline: none;
}
.page-template-contact-page-php .wpcf7-form input {
	background: url('images/contact-input-background.png') no-repeat;
}
.page-template-contact-page-php .wpcf7-form .submit-button {
	clear: left;
	display: block;
	background: url('images/send-button.png') no-repeat;
	height: 32px;
	width: 83px;
	border: none;
	color: #450101;
}
.page-template-contact-page-php .content p {
	margin: 5px 0; 
}
.page-template-contact-page-php .wpcf7 {
	margin-top: 23px;
}
.left-sidebar .children a:hover,
#right-sidebar  li a:hover {
	color: #fff;
}

.slides-sidebar .widget {
	position: relative;
}
.slides-sidebar .widget .title {
	display: none;
}
.slides-sidebar img {
	border: 1px solid #000;
	/*max-width: 976px !important;
	max-height: 325px !important;*/
}

.home .widget_sp_image-description {
	width: 303px;
	min-height: 100px;
	padding: 5px 10px 5px 15px;
	margin-right: 15px;
	position: absolute;
	bottom: 5px;
	font-size: 13px;
	background: url("images/background-slidebox.png") no-repeat;
	/**Added  23 august**/
	display: none;
	
}
.widget_sp_image-description p {
	margin-top: 6px;
	padding-right: 3px;
}
.title-caption {
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
.widget-1 .widget_sp_image-description {
	left: 20px;
	width: 288px;
	padding-right: 30px;
}
.widget-2 .widget_sp_image-description {
	left: 370px;
}
.widget-3 .widget_sp_image-description {
	left: 645px;
}
.page-child .left-sidebar .simple_page li a {
	font-weight: normal;
}


.left-sidebar .widget-subpages li a {
	font-weight: bold;
}
.page-template-contact-page-php .left-sidebar .widget-subpages li a,
.left-sidebar .widget-subpages .children li a {
	font-weight: normal;
}

.info-block {
	width: 708px;
	display: inline-block;
}

.no_has_children .left-sidebar .widget-subpages ul a {
	font-weight: normal;
}
.blog .featured-image {
	margin-top: 18px;
	margin-right: 6px;
}
.blog .has_thumb .content {margin-left: 115px;}
/*.blog .post .content,
.single .post .content { font-size: 13px; line-height: 20px; }*/

.blog .post .content,
.single .post .content { font-size: 10pt; line-height: 15pt; }

.blog .post a:hover, .search .post a:hover {color: white;}
.sidebar-blog a {color: #450101; font-size: 13px;}

.error404 #main {
	display: inline-block;
	border: 2px solid #838181;
	border-top: none;
}
.error404 .main-block {
	width: 712px;
}
.error404 .main-block h2 {
	margin: 20px 0 0 20px;
}
.id1174,
.term-carousel-one,
.term-carousel-bar,
.main-carousel-bar,
.carousel-bar {
	min-height: 330px;
	background: #000;
}
.page-template-before-after-php #main {
	width: 974px;
}
.content-block {
	width: 698px;
	float: left;
	min-height: 400px;
	padding: 4px;
}
.page-template-before-after-php #right-sidebar {
	float: right;
	padding-top: 0;
}
.sidebar-modifications {
	padding-left: 8px;
}
.sidebar-modifications  img {
	border: 1px solid #969898;
}
.sidebar-modifications .widget {
	float: left;
	margin-right: 7px;
	width: 165px;
}
.sidebar-modifications .title {
	margin-top: 16px;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}
.sidebar-modifications ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}
.sidebar-modifications ul li {
	margin-bottom: 5px;
	font-size: 13px;
}
.sidebar-modifications ul li a {
	color: black;
}
.sidebar-modifications ul li a:hover {
	color: white;
}

.bread-crumbs a:hover,
.left-sidebar .current_page_item a {
	color: #fff !important;
}
.seo-wrap {
	width: 984px;
	margin: 45px auto 0;
}
#alt-text {
	position: absolute;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	z-index: 1000;
	left: 0;
	right: 0;
}
#left-but {
	position: absolute;
	left: 25px;
	z-index: 1000;
	top: 135px;
}
#right-but {
	position: absolute;
	float: right;
	right: 25px;
	top: 135px;
	z-index: 1000;
}
.tax-before-after-category #left-but {left: 40px; top: 145px;}
.tax-before-after-category #right-but {right: 40px; top: 145px;}
#title-text {
	position: absolute;
	color: white;
	font-size: 13px;
	width: 780px;
	left: 100px;
	z-index: 1000;
	top: 275px;
	text-align: center;
}
.tax-before-after-category #title-text {
	width: 525px;
}

.ie7 #title-text {
	top: 263px;
}
.ie7 #alt-text {
	top: 8px;
}
.id1174 img,
.main-carousel-bar img,
.carousel-bar img {
	-moz-box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.3); 
	-webkit-box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.3); 
	box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.3); 
	border: 1px solid #000;
}
.ie7 ul {
	margin-left: 0;
}
.ie7 .post ul {
	margin-left: 25px;
}
.ie7 #right-sidebar .search-image {
	margin-top: 1px;
	padding-top: 2px;
	height: 19px;
}
.ie #search {
	padding-top: 7px;
}
.ie7 #right-sidebar #rss-list {
	padding-top: 7px;
}
.tax-before-after-category .post {
	font-size: 13px;
}
.single .bread-crumbs,
.tax-before-after-category .bread-crumbs {
	margin-bottom: 10px;
}
/*.one-modification #right-but,
.one-modification #left-but {
	display: none !important;
}*/

#menu-home-left-menu li a:hover {
	color: #450101;
}

.tax-before-after-category h3 {
	font-family: Arial;
	font-size: 13px;
	color: #450101;
	border: none;
	font-weight: bold;
}

.single .post .featured-image {
	margin: 0 10px 10px 0;
}

.page-template-carousel-parent-php .single-main,
.page-template-carousel-children-php .single-main {
	width: auto;
	border-left: none;
}
.page-template-carousel-parent-php .single-main,
.page-template-carousel-children-php .single-main {
	width: 700px;
}
.page-template-carousel-parent-php #left-but,
.page-template-carousel-children-php #left-but {
	left: 30px;
}
.page-template-carousel-parent-php #right-but,
.page-template-carousel-children-php #right-but {
	right: 30px;
}

.page-template-carousel-children-php #title-text,
.page-template-carousel-parent-php #title-text {
	width: 480px;
}

.home #menu-home-menu a:hover {
	color: #450101 !important;
}

.page-template-faq-page-php .info-block {
	width: 975px;
}

.page-template-faq-page-php #main {
	background: none;
}

.page-template-faq-page-php .single-main {
	width: 719px;
}
.page-template-before-after-php .sidebar-modifications .title a {color: #000; min-width: 103px; display: block; }
.page-template-before-after-php .sidebar-modifications .title a:hover {color: #fff; }



/* Video */
#video ul {
	list-style: none;
}

#video {
	display: inline-block;
	width: 100%;
	
}
#video .left-video {
	position: relative;
	float: left;
	width: 450px;
	min-height: 235px;	
	padding-left: 0;
}
.page-id-23 #video .left-video {
	min-height: 315px;
}

#video .left-video li {
	position: absolute;
	z-index: 100;
}

#video .right-video {
	float: left;
	padding-left: 0;
}
#video .right-video a:hover,
#video .right-video .current {
	color: white;
}

.feature-link a {
	color: #800000 !important;
}
.feature-link a:hover {
	color: #fff !important;
}


